@{
    Layout = "~/views/shared/_layout-3h.cshtml";
}@{
    Database db = Database.Open("defaultconnection");
    if (IsPost) {
        var fname = Request.Form["forum"];                                              
        var fdesc = Request.Form["desc"];
        var adm = Request.Form["admin"];
        var usr = Request.Form["usr"];
        var gst = Request.Form["gst"];
        var dsb = Request.Form["isdisabled"];
        var isprnt = Request.Form["isparent"];
        
        var q = "insert into forums(name,descriptions,admin,usr,guest,isdisabled,isparent,subforums,postcount,lpdate,lp) values ('" + fname + "','" + fdesc + "','" + (adm == "on" ? "1" : "0") + "','" + (usr == "on" ? "1" : "0") + "','" + (gst == "on" ? "1" : "0") + "','" + (dsb == "on" ? "1" : "0") + "','" + (isprnt == "on" ? "1" : "0") + "','none','0',GETDATE(),'none')";
        
        try {
            var exist = db.QuerySingle("select * from forums where name='" + fname + "'");
            if(exist==null)
            {
            db.Query(q);
          <div class="alert alert-success"><h1>
              new forum @fname is successfully created
                                           </h1></div>
              }
              else{
                
            <div class="alert alert-warning">
                @if(exist.isdisabled==true)
                {
               <h1> the forum <b><em>@fname</em></b> was exist and moved to trash..</h1>
                }
                else
                {
               <h1> the forum <b><em>@fname</em></b> is exist and avalable</h1>
                }
            </div>
            }
        }
        catch (Exception e) {
            <div class="alert alert-warning">@e.Message</div>
        }
        db.Close();
    }
 <form method="post">
     <ul class="list-group">
        <li class="list-group-item active">fill informations</li>
        <li class="list-group-item">name <input class="form-control"  required="required"  type="text" name="forum"/></li>
        <li class="list-group-item">Descriptions :<textarea  class="form-control"   required="required" style="width:100%" name="desc"></textarea></li>
        <li class="list-group-item">who can post
            <ul>
                <li><input type="checkbox" name="admin" value="admin" checked="checked"/>admin</li>
                <li><input type="checkbox" name="usr" value="user"/>User</li>
                <li><input type="checkbox" name="gst" value="guest"/>Guest</li>
            </ul>
        </li>
         
         <li class="list-group-item">
             options : 
             <ul>
                 <li><input type="checkbox" name="isparent" /> have sub category</li>
                 <li><input type="checkbox" name="isdisabled" />is disabled</li>
             </ul>
         </li>
        <li class="list-group-item"><input type="submit" /></li>
    </ul>
 </form>
   
        <ul class="list-group">
            <li class="list-group-item active">available main forums</li>
            @{
               
                var r = db.Query("select * from forums where isdisabled='false'");
                foreach(var row in r){
                  <li class="list-group-item">
                     <h3>
                         <span  class="label label-success">@row.name</span>
                     </h3>
                      <h5 class="list-group-item-text">@row.descriptions</h5>
                      <h3><span class="label label-success">total posts <span class="badge">@row.postcount</span></span></h3>
                      <a href="~/admin/delete?id=@row.id">delete this forum</a>
                      <a href="~/admin/addsub?id=@row.id">add sub forums</a>
                  </li>
                }
           }
            
        </ul>
        
}


