 <div class="container" id="bdy">
	   <div class=" row">
      		<!-- left side column -->
  			<div class="col-md-3 col-sm-3" id="sidebr">
              	
      		
          <div class="list-group">
            <a href="#" class="list-group-item active">
             XSLT
            </a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltintro'>Introduction</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltdt'>XSLT-Datatypes</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltvandp'>XSLT-Variables and Parameters</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltelements'>XSLT-Elements</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltstyle'>XSLT-Stylesheet structure</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltex1'>XSLT-Example 1</a>
                <a class="list-group-item" href='@Session["sURL"]/tutorials/xslt/xsltex2'>XSLT-Example 2</a>
             
          </div>

    
              </div>
      		
      		<div class="col-md-9 col-sm-9" id="content">
            	<div class="panel" style="box-shadow:0 1px 2px gray" id="cpanel">  
              	<div class="panel-body">
               
        
@{
  
     var p = ViewBag.id;//parameter
     p = Convert.ToString(p);//parse to string
     p = p == "System.Object" ? "xsltintro" : p;//if parameter is null
     try{//try to render the file specified in parameter
    @RenderPage(Href("~/resource/XSLT/"+p+".cshtml"));//method to render file
   
    }
    catch(Exception e){
    <h1>the requested page not found </h1>
    @e.Message
    }
    
    }

                  </div><!--/panel-body-->
                </div><!--/panel-->
              	<!--/end right column-->
      	</div> 
     
       </div>
    </div>

