@{
   
}
<style>

    body {
    overflow:scroll
    }
</style>
 <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
            <li data-target="#carousel" data-slide-to="3"></li>
            <li data-target="#carousel" data-slide-to="4"></li>
            <li data-target="#carousel" data-slide-to="5"></li>
            <li data-target="#carousel" data-slide-to="6"></li>
            <li data-target="#carousel" data-slide-to="7"></li>
            <li data-target="#carousel" data-slide-to="8"></li>
            <li data-target="#carousel" data-slide-to="9"></li>
            <li data-target="#carousel" data-slide-to="10"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
           <div class="slide item" >
        <img data-holder-rendered="true" src="~/Content/images/Entypo_2139(2)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg animate">
            <h1 class="wcl">Find tutorials on popular computer languages</h1>
        </div>
    </div>
    <div class="slide item active" >
        <img  data-holder-rendered="true" src="~/Content/images/Entypo_2712(1)_128.png" class="right-f simg"/>
        <div class="jumbotron nbg animate">
            <h1 class="wcl">share your knowledge here</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/images/Entypo_2753(0)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg animate">
            <h1 class="wcl">stuck in problems. Ask questions here</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/icons/home/Entypo_2709(6)_128.png" class="right-f simg"/>
        <div class="jumbotron nbg animate">
            <h1 class="wcl">Send highly graphical message to your friends</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/icons/home/Entypo_266b(7)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg right-t animate">
            <h1 class="wcl">Listen to music anywhere</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/icons/home/Entypo_e700(5)_128.png" class="right-f simg"/>
        <div class="jumbotron nbg right-t animate">
            <h1 class="wcl">Make thousands of friends allover the world</h1>
        </div>
    </div>
    <div class="slide item"  >
        <img  data-holder-rendered="true" src="~/Content/icons/home/Entypo_e722(4)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg  animate">
            <h1 class="wcl">Your privacy is our responsibility</h1>
        </div>
    </div>
    <div class="slide item"  >
        <img  data-holder-rendered="true" src="~/Content/icons/home/FontAwesome_f075(3)_128.png" class="right-f simg"/>
        <div class="jumbotron nbg right-t animate">
            <h1 class="wcl">Chat with your specials with no worry</h1>
        </div>
    </div>
    <div class="slide item"  >
        <img  data-holder-rendered="true" src="~/Content/icons/home/FontAwesome_f0c0(2)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg animate">
            <h1 class="wcl">Make your DEVELOPMENT group</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/icons/home/FontAwesome_f0e6(1)_128.png" class="right-f simg"/>
        <div class="jumbotron nbg right-t animate">
            <h1 class="wcl">We also provide you conference Chat</h1>
        </div>
    </div>
    <div class="slide item" >
        <img  data-holder-rendered="true" src="~/Content/icons/home/FontAwesome_f13b(0)_128.png" class="left-f simg"/>
        <div class="jumbotron nbg left-t animate">
            <h1 class="wcl">Everything HTML5</h1>
        </div>
    </div>
        </div>
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev" style="z-index:100">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next" style="z-index:100">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    <hr />
        <div class="container">
            <h3><b>Tutorials</b></h3>
            <hr />
               <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">CSS3</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/css"></a>
                        </div>
                    </div>
               <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">XML</h2>
                            <a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/xml"></a>
                        </div>
                       
                    </div>
               <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">HTML</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/html"></a>
                        </div>
                    </div>
               <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">XSLT</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/XSLT"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">JAVA</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/java"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">C</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/c"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">C++</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/cpp"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">C#</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/tutorials/csharp"></a>
                        </div>
                    </div>
            <hr />
            <h3 style="display:table-cell"><b>Forums</b></h3>
            <hr />
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">CSS</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/forum/show/21008"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">Java</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/forum/show/11007"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">C</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/forum/show/21007"></a>
                        </div>
                    </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <h2 class="center">HTML</h2><a class="glyphicon glyphicon-chevron-right right-f goto" href="@Session["sURL"]/forum/show/21009"></a>
                        </div>
                    </div>

            </div>

<style>

</style>
<script type="text/javascript">
       /* $(window).resize(res)
        function res() {
            $(".slide").css({ 'height': $(this).height() + "px" });
        };
        res();*/
    $(".slide:odd").css({ "background": "rgb(123,123,223)" });
    $(".slide:even").css({"background":"rgb(0,123,223)"});
    $(window).scroll(nav);
    function nav() {
        if ($("nav").offset().top < 50) {
            $("nav").addClass("nclass");
        } else {
            $("nav").removeClass("nclass");
        }
    };
    nav();
   
</script>
<style>
    .nclass {
        padding:22px;background:none;
    }
        .nclass .navbar-nav {
        background:rgb(0, 144, 255);border-radius:3px
        }
</style>
